@keyframes progress-animation {
    to {
        width: 100%;
    }
}

.todo-list {

    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    position: relative;

    .help {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #fff, $alpha: 0.1);
        border-radius: 8px;
        opacity: 0;
        z-index: -1;
        user-select: none;

        backdrop-filter: blur(4px);

        &.visible {
            z-index: 2;
            opacity: 1;
        }
    }

    .tasks-list {
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex-grow: 1;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .skeleton {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            border-radius: 8px;
            border: 1px dashed gray;
            border-style: dashed;
            border-spacing: 10px;
        }
    }
}

.task {
    cursor: pointer;
}

.todo-list:-moz-drag-over {
    background-color: wheat;
}